# FAISS_INDEX
faiss-gpu
sentence-transformers
tqdm
numpy<2

# QA
requests
openai

# rag
langchain
langchain-community
langchain-huggingface
torch==2.5.0
torch-geometric==2.6.1
networkx==3.4.1
tenacity==9.0.0
tiktoken
transformers